.theme-d2 .el-submenu__title:hover{background:#ecf5ff}
.theme-d2 .el-menu-item:hover{background:#ecf5ff}
.theme-d2 .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{background:#ecf5ff}
.theme-d2 .el-menu--horizontal .el-menu .el-submenu__title:hover{background:#ecf5ff}
.theme-star .el-submenu__title:hover{background:#ecf5ff}
.theme-star .el-menu-item:hover{background:#ecf5ff}
.theme-star .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{background:#ecf5ff}
.theme-star .el-menu--horizontal .el-menu .el-submenu__title:hover{background:#ecf5ff}
.theme-tomorrow-night-blue .el-submenu__title:hover{background:#ecf5ff}
.theme-tomorrow-night-blue .el-menu-item:hover{background:#ecf5ff}
.theme-tomorrow-night-blue .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{background:#ecf5ff}
.theme-tomorrow-night-blue .el-menu--horizontal .el-menu .el-submenu__title:hover{background:#ecf5ff}
.theme-violet .el-submenu__title:hover{background:#ecf5ff}
.theme-violet .el-menu-item:hover{background:#ecf5ff}
.theme-violet .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{background:#ecf5ff}
.theme-violet .el-menu--horizontal .el-menu .el-submenu__title:hover{background:#ecf5ff}
.my_dialog_close[data-v-e3151eea]:hover{color:#409eff}
.contentmenu-list .contentmenu-item:hover{background:#ecf5ff;color:#66b1ff}
.component-markdown .spin-group{color:#409eff}
.baidupan .container:hover{border:1px solid #409eff}
.baidupan .container:hover .line{background-color:#409eff}
.login-container .login-form .login-options[data-v-1e880653]{color:#409eff}
.icon-demo[data-v-07edb473]{color:#409eff}
.panel-search-item.can-hover:hover .panel-search-item__icon .panel-search-item__icon-box i[data-v-0e50897d]{color:#409eff}
.el-pagination button:hover:not(:disabled){color:#409eff}
.el-pagination__sizes .el-input .el-input__inner:hover{border-color:#409eff}
.el-pagination.is-background .el-pager li:not(.disabled):hover{color:#409eff}
.el-pagination.is-background .el-pager li:not(.disabled).active{background-color:#409eff}
.el-pager li:hover{color:#409eff}
.el-pager li.active{color:#409eff}
.el-dialog__headerbtn:focus .el-dialog__close,.el-dialog__headerbtn:hover .el-dialog__close{color:#409eff}
.el-dropdown-menu__item:focus,.el-dropdown-menu__item:not(.is-disabled):hover{background-color:#ecf5ff;color:#66b1ff}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{border-bottom:2px solid #409eff}
.el-menu--horizontal>.el-menu-item.is-active{border-bottom:2px solid #409eff}
.el-menu-item:focus,.el-menu-item:hover{background-color:#ecf5ff}
.el-menu-item.is-active{color:#409eff}
.el-submenu__title:focus,.el-submenu__title:hover{background-color:#ecf5ff}
.el-submenu__title:hover{background-color:#ecf5ff}
.el-submenu.is-active .el-submenu__title{border-bottom-color:#409eff}
.el-radio-button__inner:hover{color:#409eff}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{background-color:#409eff;border-color:#409eff;box-shadow:-1px 0 0 0 #409eff}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled){box-shadow:0 0 2px 2px #409eff}
.el-switch__label.is-active{color:#409eff}
.el-switch.is-checked .el-switch__core{border-color:#409eff;background-color:#409eff}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{color:#409eff}
.el-select-dropdown__item.selected{color:#409eff}
.el-select .el-input__inner:focus{border-color:#409eff}
.el-select .el-input.is-focus .el-input__inner{border-color:#409eff}
.el-table th>.cell.highlight{color:#409eff}
.el-table .ascending .sort-caret.ascending{border-bottom-color:#409eff}
.el-table .descending .sort-caret.descending{border-top-color:#409eff}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td{background-color:#ecf5ff}
.el-table__body tr.current-row>td{background-color:#ecf5ff}
.el-table-filter__list-item:hover{background-color:#ecf5ff;color:#66b1ff}
.el-table-filter__list-item.is-active{background-color:#409eff}
.el-table-filter__bottom button:hover{color:#409eff}
.el-date-table td.today span{color:#409eff}
.el-date-table td.available:hover{color:#409eff}
.el-date-table td.current:not(.disabled) span{background-color:#409eff}
.el-date-table td.end-date span,.el-date-table td.start-date span{background-color:#409eff}
.el-date-table td.selected span{background-color:#409eff}
.el-month-table td.today .cell{color:#409eff}
.el-month-table td .cell:hover{color:#409eff}
.el-month-table td.end-date .cell,.el-month-table td.start-date .cell{background-color:#409eff}
.el-month-table td.current:not(.disabled) .cell{color:#409eff}
.el-year-table td.today .cell{color:#409eff}
.el-year-table td .cell:hover,.el-year-table td.current:not(.disabled) .cell{color:#409eff}
.el-date-picker__header-label.active,.el-date-picker__header-label:hover{color:#409eff}
.time-select-item.selected:not(.disabled){color:#409eff}
.el-range-editor.is-active,.el-range-editor.is-active:hover{border-color:#409eff}
.el-picker-panel__shortcut:hover{color:#409eff}
.el-picker-panel__shortcut.active{color:#409eff}
.el-picker-panel__icon-btn:hover{color:#409eff}
.el-time-spinner__arrow:hover{color:#409eff}
.el-time-panel__btn.confirm{color:#409eff}
.el-message-box__headerbtn:focus .el-message-box__close,.el-message-box__headerbtn:hover .el-message-box__close{color:#409eff}
.el-breadcrumb__inner a:hover,.el-breadcrumb__inner.is-link:hover{color:#409eff}
.el-tabs__active-bar{background-color:#409eff}
.el-tabs__new-tab:hover{color:#409eff}
.el-tabs__item:focus.is-active.is-focus:not(:active){box-shadow:inset 0 0 2px 2px #409eff}
.el-tabs__item.is-active{color:#409eff}
.el-tabs__item:hover{color:#409eff}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{color:#409eff}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{color:#409eff}
.el-tree__drop-indicator{background-color:#409eff}
.el-tree-node.is-drop-inner>.el-tree-node__content .el-tree-node__label{background-color:#409eff}
.el-input-number__decrease:hover,.el-input-number__increase:hover{color:#409eff}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){border-color:#409eff}
.el-slider__bar{background-color:#409eff}
.el-slider__button{border:2px solid #409eff}
.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__decrease,.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__increase{border-color:#409eff}
.el-loading-spinner .el-loading-text{color:#409eff}
.el-loading-spinner .path{stroke:#409eff}
.el-loading-spinner i{color:#409eff}
.el-upload--picture-card:hover,.el-upload:focus{border-color:#409eff;color:#409eff}
.el-upload:focus .el-upload-dragger{border-color:#409eff}
.el-upload-dragger .el-upload__text em{color:#409eff}
.el-upload-dragger:hover{border-color:#409eff}
.el-upload-dragger.is-dragover{border:2px dashed #409eff}
.el-upload-list__item .el-icon-close-tip{color:#409eff}
.el-upload-list__item.is-success .el-upload-list__item-name:focus,.el-upload-list__item.is-success .el-upload-list__item-name:hover{color:#409eff}
.el-upload-list__item-delete:hover{color:#409eff}
.el-progress-bar__inner{background-color:#409eff}
.el-badge__content--primary{background-color:#409eff}
.el-step__head.is-finish{color:#409eff;border-color:#409eff}
.el-step__title.is-finish{color:#409eff}
.el-step__description.is-finish{color:#409eff}
.el-collapse-item__header.focusing:focus:not(:hover){color:#409eff}
.el-tag{background-color:#ecf5ff;border-color:#d9ecff;color:#409eff}
.el-tag.is-hit{border-color:#409eff}
.el-tag .el-tag__close{color:#409eff}
.el-tag .el-tag__close:hover{background-color:#409eff}
.el-tag--dark{background-color:#409eff}
.el-tag--dark,.el-tag--dark.is-hit{border-color:#409eff}
.el-tag--dark .el-tag__close:hover{background-color:#66b1ff}
.el-tag--plain{border-color:#b3d8ff;color:#409eff}
.el-tag--plain.is-hit{border-color:#409eff}
.el-tag--plain .el-tag__close{color:#409eff}
.el-tag--plain .el-tag__close:hover{background-color:#409eff}
.el-cascader .el-input .el-input__inner:focus,.el-cascader .el-input.is-focus .el-input__inner{border-color:#409eff}
.el-cascader__suggestion-item.is-checked{color:#409eff}
.el-color-predefine__color-selector.selected{box-shadow:0 0 3px 2px #409eff}
.el-color-dropdown__btn:hover{color:#409eff;border-color:#409eff}
.el-color-dropdown__link-btn{color:#409eff}
.el-color-dropdown__link-btn:hover{color:tint(#409eff,20%)}
.el-textarea__inner:focus{border-color:#409eff}
.el-input.is-active .el-input__inner,.el-input__inner:focus{border-color:#409eff}
.el-transfer__button{background-color:#409eff}
.el-transfer-panel__item:hover{color:#409eff}
.el-timeline-item__node--primary{background-color:#409eff}
.el-link.is-underline:hover:after{border-bottom:1px solid #409eff}
.el-link.el-link--default:after,.el-link.el-link--primary.is-underline:hover:after,.el-link.el-link--primary:after{border-color:#409eff}
.el-link.el-link--default:hover{color:#409eff}
.el-link.el-link--primary{color:#409eff}
.el-link.el-link--primary:hover{color:#66b1ff}
.el-link.el-link--primary.is-disabled{color:#a0cfff}
.el-button:focus.el-button--default:not(.is-plain):not(.el-button--primary),.el-button:hover.el-button--default:not(.is-plain):not(.el-button--primary){color:#409eff;border-color:#c6e2ff;background-color:#ecf5ff}
.el-button:active.el-button--default:not(.is-plain):not(.el-button--primary){color:#3a8ee6;border-color:#3a8ee6}
.el-button.is-plain:focus.el-button--default,.el-button.is-plain:hover.el-button--default{border-color:#409eff;color:#409eff}
.el-button.is-active:not(.el-button--primary),.el-button.is-plain:active:not(.el-button--primary){color:#3a8ee6;border-color:#3a8ee6}
.el-button--primary{background-color:#409eff;border-color:#409eff}
.el-button--primary:focus,.el-button--primary:hover{background:#66b1ff;border-color:#66b1ff}
.el-button--primary.is-active,.el-button--primary:active{background:#3a8ee6;border-color:#3a8ee6}
.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover{background-color:#a0cfff;border-color:#a0cfff}
.el-button--primary.is-plain{color:#409eff;background:#ecf5ff;border-color:#b3d8ff}
.el-button--primary.is-plain:focus,.el-button--primary.is-plain:hover{background:#409eff;border-color:#409eff}
.el-button--primary.is-plain:active{background:#3a8ee6;border-color:#3a8ee6}
.el-button--primary.is-plain.is-disabled,.el-button--primary.is-plain.is-disabled:active,.el-button--primary.is-plain.is-disabled:focus,.el-button--primary.is-plain.is-disabled:hover{color:#8cc5ff;background-color:#ecf5ff;border-color:#d9ecff}
.el-button--text{color:#409eff}
.el-button--text:focus,.el-button--text:hover{color:#66b1ff}
.el-button--text:active{color:#3a8ee6}
.el-backtop,.el-calendar-table td.is-today{color:#409eff}
.el-checkbox.is-bordered.is-checked{border-color:#409eff}
.el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#409eff;border-color:#409eff}
.el-checkbox__input.is-checked+.el-checkbox__label{color:#409eff}
.el-checkbox__input.is-focus .el-checkbox__inner{border-color:#409eff}
.el-checkbox__inner:hover{border-color:#409eff}
.el-checkbox-button__inner:hover{color:#409eff}
.el-checkbox-button.is-checked .el-checkbox-button__inner{background-color:#409eff;border-color:#409eff;box-shadow:-1px 0 0 0 #8cc5ff}
.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner{border-left-color:#409eff}
.el-checkbox-button.is-focus .el-checkbox-button__inner{border-color:#409eff}
.el-radio.is-bordered.is-checked{border-color:#409eff}
.el-radio__input.is-checked .el-radio__inner{border-color:#409eff;background:#409eff}
.el-radio__input.is-checked+.el-radio__label{color:#409eff}
.el-radio__input.is-focus .el-radio__inner{border-color:#409eff}
.el-radio__inner:hover{border-color:#409eff}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner{box-shadow:0 0 2px 2px #409eff}
.el-cascader-node.in-active-path,.el-cascader-node.is-active,.el-cascader-node.is-selectable.in-checked-path{color:#409eff}
.select-item.sortable-chosen[data-v-48152a99]{border:1px dashed #409eff}
.document-link[data-v-48152a99]{background:#409eff}
.drawing-board .active-from-item>.component-name{color:#409eff}
.drawing-row-item.active-from-item{border:1px dashed #409eff}
.drawing-item>.drawing-item-copy,.drawing-row-item>.drawing-item-copy{border-color:#409eff;color:#409eff}
.drawing-item>.drawing-item-copy:hover,.drawing-row-item>.drawing-item-copy:hover{background:#409eff}
.custom-tree-node .el-icon-plus{color:#409eff}
a{color:#409eff}
.has-text-primary{color:#409eff !important}
.has-background-primary{background-color:#409eff !important}
.has-text-link{color:#409eff !important}
.has-background-link{background-color:#409eff !important}
a.box:focus,a.box:hover{box-shadow:0 2px 3px rgba(10,10,10,0.1),0 0 0 1px #409eff}
a.box:active{box-shadow:inset 0 1px 2px rgba(10,10,10,0.2),0 0 0 1px #409eff}
.button.is-focused,.button:focus{border-color:#409eff}
.button.is-focused:not(:active),.button:focus:not(:active){box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.button.is-primary{background-color:#409eff}
.button.is-primary.is-focused:not(:active),.button.is-primary:focus:not(:active){box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.button.is-primary[disabled],fieldset[disabled] .button.is-primary{background-color:#409eff}
.button.is-primary.is-inverted{color:#409eff}
.button.is-primary.is-inverted[disabled],fieldset[disabled] .button.is-primary.is-inverted{color:#409eff}
.button.is-primary.is-outlined{border-color:#409eff;color:#409eff}
.button.is-primary.is-outlined.is-focused,.button.is-primary.is-outlined.is-hovered,.button.is-primary.is-outlined:focus,.button.is-primary.is-outlined:hover{background-color:#409eff;border-color:#409eff}
.button.is-primary.is-outlined.is-loading::after{border-color:transparent transparent #409eff #409eff !important}
.button.is-primary.is-outlined[disabled],fieldset[disabled] .button.is-primary.is-outlined{border-color:#409eff;color:#409eff}
.button.is-primary.is-inverted.is-outlined.is-focused,.button.is-primary.is-inverted.is-outlined.is-hovered,.button.is-primary.is-inverted.is-outlined:focus,.button.is-primary.is-inverted.is-outlined:hover{color:#409eff}
.button.is-primary.is-inverted.is-outlined.is-loading.is-focused::after,.button.is-primary.is-inverted.is-outlined.is-loading.is-hovered::after,.button.is-primary.is-inverted.is-outlined.is-loading:focus::after,.button.is-primary.is-inverted.is-outlined.is-loading:hover::after{border-color:transparent transparent #409eff #409eff !important}
.button.is-link{background-color:#409eff}
.button.is-link.is-focused:not(:active),.button.is-link:focus:not(:active){box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.button.is-link[disabled],fieldset[disabled] .button.is-link{background-color:#409eff}
.button.is-link.is-inverted{color:#409eff}
.button.is-link.is-inverted[disabled],fieldset[disabled] .button.is-link.is-inverted{color:#409eff}
.button.is-link.is-outlined{border-color:#409eff;color:#409eff}
.button.is-link.is-outlined.is-focused,.button.is-link.is-outlined.is-hovered,.button.is-link.is-outlined:focus,.button.is-link.is-outlined:hover{background-color:#409eff;border-color:#409eff}
.button.is-link.is-outlined.is-loading::after{border-color:transparent transparent #409eff #409eff !important}
.button.is-link.is-outlined[disabled],fieldset[disabled] .button.is-link.is-outlined{border-color:#409eff;color:#409eff}
.button.is-link.is-inverted.is-outlined.is-focused,.button.is-link.is-inverted.is-outlined.is-hovered,.button.is-link.is-inverted.is-outlined:focus,.button.is-link.is-inverted.is-outlined:hover{color:#409eff}
.button.is-link.is-inverted.is-outlined.is-loading.is-focused::after,.button.is-link.is-inverted.is-outlined.is-loading.is-hovered::after,.button.is-link.is-inverted.is-outlined.is-loading:focus::after,.button.is-link.is-inverted.is-outlined.is-loading:hover::after{border-color:transparent transparent #409eff #409eff !important}
.notification.is-primary{background-color:#409eff}
.notification.is-link{background-color:#409eff}
.progress.is-primary::-webkit-progress-value{background-color:#409eff}
.progress.is-primary::-moz-progress-bar{background-color:#409eff}
.progress.is-primary::-ms-fill{background-color:#409eff}
.progress.is-primary:indeterminate{background-image:linear-gradient(to right, #409eff 30%, #dbdbdb 30%)}
.progress.is-link::-webkit-progress-value{background-color:#409eff}
.progress.is-link::-moz-progress-bar{background-color:#409eff}
.progress.is-link::-ms-fill{background-color:#409eff}
.progress.is-link:indeterminate{background-image:linear-gradient(to right, #409eff 30%, #dbdbdb 30%)}
.table td.is-primary,.table th.is-primary{background-color:#409eff;border-color:#409eff}
.table td.is-link,.table th.is-link{background-color:#409eff;border-color:#409eff}
.table td.is-selected,.table th.is-selected{background-color:#409eff}
.table tr.is-selected{background-color:#409eff}
.tag:not(body).is-primary{background-color:#409eff}
.tag:not(body).is-link{background-color:#409eff}
.input:active,.input:focus,.is-active.input,.is-active.textarea,.is-focused.input,.is-focused.textarea,.select select.is-active,.select select.is-focused,.select select:active,.select select:focus,.taginput .is-active.taginput-container.is-focusable,.taginput .is-focused.taginput-container.is-focusable,.taginput .taginput-container.is-focusable:active,.taginput .taginput-container.is-focusable:focus,.textarea:active,.textarea:focus{border-color:#409eff;box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.is-primary.input,.is-primary.textarea,.taginput .is-primary.taginput-container.is-focusable{border-color:#409eff}
.is-primary.input:active,.is-primary.input:focus,.is-primary.is-active.input,.is-primary.is-active.textarea,.is-primary.is-focused.input,.is-primary.is-focused.textarea,.is-primary.textarea:active,.is-primary.textarea:focus,.taginput .is-primary.is-active.taginput-container.is-focusable,.taginput .is-primary.is-focused.taginput-container.is-focusable,.taginput .is-primary.taginput-container.is-focusable:active,.taginput .is-primary.taginput-container.is-focusable:focus{box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.is-link.input,.is-link.textarea,.taginput .is-link.taginput-container.is-focusable{border-color:#409eff}
.is-link.input:active,.is-link.input:focus,.is-link.is-active.input,.is-link.is-active.textarea,.is-link.is-focused.input,.is-link.is-focused.textarea,.is-link.textarea:active,.is-link.textarea:focus,.taginput .is-link.is-active.taginput-container.is-focusable,.taginput .is-link.is-focused.taginput-container.is-focusable,.taginput .is-link.taginput-container.is-focusable:active,.taginput .is-link.taginput-container.is-focusable:focus{box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.select:not(.is-multiple):not(.is-loading)::after{border-color:#409eff}
.select.is-primary:not(:hover)::after{border-color:#409eff}
.select.is-primary select{border-color:#409eff}
.select.is-primary select.is-active,.select.is-primary select.is-focused,.select.is-primary select:active,.select.is-primary select:focus{box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.select.is-link:not(:hover)::after{border-color:#409eff}
.select.is-link select{border-color:#409eff}
.select.is-link select.is-active,.select.is-link select.is-focused,.select.is-link select:active,.select.is-link select:focus{box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.file.is-primary .file-cta{background-color:#409eff}
.file.is-primary.is-focused .file-cta,.file.is-primary:focus .file-cta{box-shadow:0 0 0.5em rgba(64,158,255,0.25)}
.file.is-link .file-cta{background-color:#409eff}
.file.is-link.is-focused .file-cta,.file.is-link:focus .file-cta{box-shadow:0 0 0.5em rgba(64,158,255,0.25)}
.help.is-primary{color:#409eff}
.help.is-link{color:#409eff}
.breadcrumb a{color:#409eff}
.dropdown .dropdown-menu .has-link a.is-active,a.dropdown-item.is-active,button.dropdown-item.is-active{background-color:#409eff}
.list-item.is-active{background-color:#409eff}
.menu-list a.is-active{background-color:#409eff}
.message.is-primary{background-color:#f5faff}
.message.is-primary .message-header{background-color:#409eff}
.message.is-primary .message-body{border-color:#409eff}
.message.is-link{background-color:#f5faff}
.message.is-link .message-header{background-color:#409eff}
.message.is-link .message-body{border-color:#409eff}
.navbar.is-primary{background-color:#409eff}
@media screen and (min-width: 1024px){.navbar.is-primary .navbar-dropdown a.navbar-item.is-active{background-color:#409eff}}
.navbar.is-link{background-color:#409eff}
@media screen and (min-width: 1024px){.navbar.is-link .navbar-dropdown a.navbar-item.is-active{background-color:#409eff}}
.navbar-link.is-active,.navbar-link:focus,.navbar-link:focus-within,.navbar-link:hover,a.navbar-item.is-active,a.navbar-item:focus,a.navbar-item:focus-within,a.navbar-item:hover{color:#409eff}
.navbar-item.is-tab:focus,.navbar-item.is-tab:hover{border-bottom-color:#409eff}
.navbar-item.is-tab.is-active{border-bottom-color:#409eff;color:#409eff}
.navbar-link:not(.is-arrowless)::after{border-color:#409eff}
@media screen and (min-width: 1024px){.navbar.is-transparent .navbar-dropdown a.navbar-item.is-active{color:#409eff};.navbar-dropdown a.navbar-item.is-active{color:#409eff}}
.pagination-link:focus,.pagination-next:focus,.pagination-previous:focus{border-color:#409eff}
.pagination-link.is-current{background-color:#409eff;border-color:#409eff}
.panel-list a:hover{color:#409eff}
.panel-block.is-active{border-left-color:#409eff}
.panel-block.is-active .panel-icon{color:#409eff}
.tabs li.is-active a{border-bottom-color:#409eff;color:#409eff}
.tabs.is-toggle li.is-active a{background-color:#409eff;border-color:#409eff}
.hero.is-primary{background-color:#409eff}
@media screen and (max-width: 1023px){.hero.is-primary .navbar-menu{background-color:#409eff}}
.hero.is-primary .tabs.is-boxed li.is-active a,.hero.is-primary .tabs.is-boxed li.is-active a:hover,.hero.is-primary .tabs.is-toggle li.is-active a,.hero.is-primary .tabs.is-toggle li.is-active a:hover{color:#409eff}
.hero.is-primary.is-bold{background-image:linear-gradient(141deg, #0dacff 0%, #409eff 71%, #5a8fff 100%)}
@media screen and (max-width: 768px){.hero.is-primary.is-bold .navbar-menu{background-image:linear-gradient(141deg, #0dacff 0%, #409eff 71%, #5a8fff 100%)}}
.hero.is-link{background-color:#409eff}
@media screen and (max-width: 1023px){.hero.is-link .navbar-menu{background-color:#409eff}}
.hero.is-link .tabs.is-boxed li.is-active a,.hero.is-link .tabs.is-boxed li.is-active a:hover,.hero.is-link .tabs.is-toggle li.is-active a,.hero.is-link .tabs.is-toggle li.is-active a:hover{color:#409eff}
.hero.is-link.is-bold{background-image:linear-gradient(141deg, #0dacff 0%, #409eff 71%, #5a8fff 100%)}
@media screen and (max-width: 768px){.hero.is-link.is-bold .navbar-menu{background-image:linear-gradient(141deg, #0dacff 0%, #409eff 71%, #5a8fff 100%)}}
.s-checkbox.checkbox input[type=checkbox]:checked+.check{background:#409eff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;border-color:#409eff}
.s-checkbox.checkbox input[type=checkbox]:checked+.check.is-primary{background:#409eff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;border-color:#409eff}
.s-checkbox.checkbox input[type=checkbox]:checked+.check.is-link{background:#409eff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;border-color:#409eff}
.s-checkbox.checkbox input[type=checkbox]:indeterminate+.check{background:#409eff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect style='fill:%23fff' width='0.7' height='0.2' x='.15' y='.4'%3E%3C/rect%3E%3C/svg%3E") no-repeat center center;border-color:#409eff}
.s-checkbox.checkbox input[type=checkbox]:indeterminate+.check.is-primary{background:#409eff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect style='fill:%23fff' width='0.7' height='0.2' x='.15' y='.4'%3E%3C/rect%3E%3C/svg%3E") no-repeat center center;border-color:#409eff}
.s-checkbox.checkbox input[type=checkbox]:indeterminate+.check.is-link{background:#409eff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect style='fill:%23fff' width='0.7' height='0.2' x='.15' y='.4'%3E%3C/rect%3E%3C/svg%3E") no-repeat center center;border-color:#409eff}
.s-checkbox.checkbox input[type=checkbox]:focus:checked+.check{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.s-checkbox.checkbox input[type=checkbox]:focus:checked+.check.is-primary{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.s-checkbox.checkbox input[type=checkbox]:focus:checked+.check.is-link{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.s-checkbox.checkbox:hover input[type=checkbox]:not(:disabled)+.check{border-color:#409eff}
.s-checkbox.checkbox:hover input[type=checkbox]:not(:disabled)+.check.is-primary{border-color:#409eff}
.s-checkbox.checkbox:hover input[type=checkbox]:not(:disabled)+.check.is-link{border-color:#409eff}
.b-clockpicker .card-header{background-color:#409eff}
.b-clockpicker .b-clockpicker-face:after{background-color:#409eff}
.b-clockpicker .b-clockpicker-face-hand{background-color:#409eff;border-color:#409eff}
.b-clockpicker .b-clockpicker-face-number.active{background-color:#409eff}
.b-clockpicker.is-primary .card-header{background-color:#409eff}
.b-clockpicker.is-primary .b-clockpicker-face:after{background-color:#409eff}
.b-clockpicker.is-primary .b-clockpicker-face-hand{background-color:#409eff;border-color:#409eff}
.b-clockpicker.is-primary .b-clockpicker-face-number.active{background-color:#409eff}
.b-clockpicker.is-link .card-header{background-color:#409eff}
.b-clockpicker.is-link .b-clockpicker-face:after{background-color:#409eff}
.b-clockpicker.is-link .b-clockpicker-face-hand{background-color:#409eff;border-color:#409eff}
.b-clockpicker.is-link .b-clockpicker-face-number.active{background-color:#409eff}
.b-clockpicker-body .b-clockpicker-btn.active,.b-clockpicker-body .b-clockpicker-btn:hover{background-color:#409eff}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today{border:solid 1px rgba(64,158,255,0.5)}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected{background-color:#409eff}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-first-selected{background-color:#409eff}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-within-selected{background-color:rgba(64,158,255,0.5)}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-last-selected{background-color:#409eff}
.datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-primary{background-color:#409eff}
.datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-link{background-color:#409eff}
.modal-confirm .modal-card .media.is-primary .media-left{color:#409eff}
.notices .toast.is-primary{background:#409eff}
.notices .toast.is-link{background:#409eff}
.notices .snackbar .action.is-primary .button{color:#409eff}
.notices .snackbar .action.is-link .button{color:#409eff}
.s-radio.radio input[type=radio]+.check:before{background-color:#409eff}
.s-radio.radio input[type=radio]+.check.is-primary:before{background:#409eff}
.s-radio.radio input[type=radio]+.check.is-link:before{background:#409eff}
.s-radio.radio input[type=radio]:checked+.check{border-color:#409eff}
.s-radio.radio input[type=radio]:checked+.check.is-primary{border-color:#409eff}
.s-radio.radio input[type=radio]:checked+.check.is-link{border-color:#409eff}
.s-radio.radio input[type=radio]:focus:checked+.check{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.s-radio.radio input[type=radio]:focus:checked+.check.is-primary{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.s-radio.radio input[type=radio]:focus:checked+.check.is-link{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.s-radio.radio:hover input[type=radio]:not(:disabled)+.check{border-color:#409eff}
.s-radio.radio:hover input[type=radio]:not(:disabled)+.check.is-primary{border-color:#409eff}
.s-radio.radio:hover input[type=radio]:not(:disabled)+.check.is-link{border-color:#409eff}
.b-slider.is-primary .b-slider-fill{background:#409eff !important}
.b-slider.is-link .b-slider-fill{background:#409eff !important}
.b-steps .steps .step-items .step-item.is-primary::after,.b-steps .steps .step-items .step-item.is-primary::before{background:linear-gradient(to left, #dbdbdb 50%, #409eff 50%)}
.b-steps .steps .step-items .step-item.is-primary.is-active .step-marker{border-color:#409eff;color:#409eff}
.b-steps .steps .step-items .step-item.is-primary.is-previous .step-marker{background-color:#409eff}
.b-steps .steps .step-items .step-item.is-link::after,.b-steps .steps .step-items .step-item.is-link::before{background:linear-gradient(to left, #dbdbdb 50%, #409eff 50%)}
.b-steps .steps .step-items .step-item.is-link.is-active .step-marker{border-color:#409eff;color:#409eff}
.b-steps .steps .step-items .step-item.is-link.is-previous .step-marker{background-color:#409eff}
.b-steps .steps .step-items .step-item::after,.b-steps .steps .step-items .step-item::before{background:linear-gradient(to left, #dbdbdb 50%, #409eff 50%)}
.b-steps .steps .step-items .step-item.is-active .step-marker{border-color:#409eff;color:#409eff}
.b-steps .steps .step-items .step-item.is-previous .step-marker{background-color:#409eff}
.switch input[type=checkbox]:checked+.check{background:#409eff}
.switch input[type=checkbox]:checked+.check.is-primary{background:#409eff}
.switch input[type=checkbox]:checked+.check.is-link{background:#409eff}
.switch input[type=checkbox]:focus:checked+.check{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.switch input[type=checkbox]:focus:checked+.check.is-primary{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.switch input[type=checkbox]:focus:checked+.check.is-link{box-shadow:0 0 0.5em rgba(64,158,255,0.8)}
.switch:hover input[type=checkbox]:checked+.check{background:rgba(64,158,255,0.9)}
.switch:hover input[type=checkbox]:checked+.check.is-primary{background:rgba(64,158,255,0.9)}
.switch:hover input[type=checkbox]:checked+.check.is-link{background:rgba(64,158,255,0.9)}
.switch.is-outlined input[type=checkbox]:checked+.check{border-color:#409eff}
.switch.is-outlined input[type=checkbox]:checked+.check.is-primary{border-color:#409eff}
.switch.is-outlined input[type=checkbox]:checked+.check.is-primary:before{background:#409eff}
.switch.is-outlined input[type=checkbox]:checked+.check.is-link{border-color:#409eff}
.switch.is-outlined input[type=checkbox]:checked+.check.is-link:before{background:#409eff}
.switch.is-outlined input[type=checkbox]:checked+.check:before{background:#409eff}
.switch.is-outlined:hover input[type=checkbox]:checked+.check{border-color:rgba(64,158,255,0.9)}
.switch.is-outlined:hover input[type=checkbox]:checked+.check.is-primary{border-color:rgba(64,158,255,0.9)}
.switch.is-outlined:hover input[type=checkbox]:checked+.check.is-link{border-color:rgba(64,158,255,0.9)}
.s-table .table:focus{border-color:#409eff;box-shadow:0 0 0 0.125em rgba(64,158,255,0.25)}
.b-tooltip.is-top.is-primary:before{border-top:5px solid #409eff}
.b-tooltip.is-top.is-link:before{border-top:5px solid #409eff}
.b-tooltip.is-right.is-primary:before{border-right:5px solid #409eff}
.b-tooltip.is-right.is-link:before{border-right:5px solid #409eff}
.b-tooltip.is-bottom.is-primary:before{border-bottom:5px solid #409eff}
.b-tooltip.is-bottom.is-link:before{border-bottom:5px solid #409eff}
.b-tooltip.is-left.is-primary:before{border-left:5px solid #409eff}
.b-tooltip.is-left.is-link:before{border-left:5px solid #409eff}
.b-tooltip.is-primary:after{background:#409eff}
.b-tooltip.is-link:after{background:#409eff}
.upload .upload-draggable.is-hovered.is-primary,.upload .upload-draggable:hover.is-primary{border-color:#409eff;background:rgba(64,158,255,0.05)}
.upload .upload-draggable.is-hovered.is-link,.upload .upload-draggable:hover.is-link{border-color:#409eff;background:rgba(64,158,255,0.05)}
.sidebar .sidebar-menu ul a.is-active{color:#409eff}
.sidebar .sidebar-menu ul a:hover:not(.is-active){color:#409eff}
.sidebar .sidebar-btt:hover{color:#409eff}
.codeview .highlight .button-container .button:focus,.codeview .highlight .button-container .button:hover{color:#409eff}
.example .button-container .button:focus,.example .button-container .button:hover{color:#409eff}
.el-pagination button:hover:not(:disabled){color:#409EFF}
.el-pagination__sizes .el-input .el-input__inner:hover{border-color:#409EFF}
.el-pagination.is-background .el-pager li:not(.disabled):hover{color:#409EFF}
.el-pagination.is-background .el-pager li:not(.disabled).active{background-color:#409EFF}
.el-pager li:hover{color:#409EFF}
.el-pager li.active{color:#409EFF}
.el-dialog__headerbtn:focus .el-dialog__close,.el-dialog__headerbtn:hover .el-dialog__close{color:#409EFF}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{border-bottom:2px solid #409EFF}
.el-menu--horizontal>.el-menu-item.is-active{border-bottom:2px solid #409EFF}
.el-menu-item.is-active{color:#409EFF}
.el-submenu.is-active .el-submenu__title{border-bottom-color:#409EFF}
.el-radio-button__inner:hover{color:#409EFF}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{background-color:#409EFF;border-color:#409EFF;-webkit-box-shadow:-1px 0 0 0 #409EFF;box-shadow:-1px 0 0 0 #409EFF}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled){-webkit-box-shadow:0 0 2px 2px #409EFF;box-shadow:0 0 2px 2px #409EFF}
.el-switch__label.is-active{color:#409EFF}
.el-switch.is-checked .el-switch__core{border-color:#409EFF;background-color:#409EFF}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{color:#409EFF}
.el-select-dropdown__item.selected{color:#409EFF}
.el-select .el-input__inner:focus{border-color:#409EFF}
.el-select .el-input.is-focus .el-input__inner{border-color:#409EFF}
.el-table th>.cell.highlight{color:#409EFF}
.el-table .ascending .sort-caret.ascending{border-bottom-color:#409EFF}
.el-table .descending .sort-caret.descending{border-top-color:#409EFF}
.el-table-filter__list-item.is-active{background-color:#409EFF}
.el-table-filter__bottom button:hover{color:#409EFF}
.el-date-table td.today span{color:#409EFF}
.el-date-table td.available:hover{color:#409EFF}
.el-date-table td.current:not(.disabled) span{background-color:#409EFF}
.el-date-table td.end-date span,.el-date-table td.start-date span{background-color:#409EFF}
.el-date-table td.selected span{background-color:#409EFF}
.el-month-table td.today .cell{color:#409EFF}
.el-month-table td .cell:hover{color:#409EFF}
.el-month-table td.end-date .cell,.el-month-table td.start-date .cell{background-color:#409EFF}
.el-month-table td.current:not(.disabled) .cell{color:#409EFF}
.el-year-table td.today .cell{color:#409EFF}
.el-year-table td .cell:hover,.el-year-table td.current:not(.disabled) .cell{color:#409EFF}
.el-date-picker__header-label.active,.el-date-picker__header-label:hover{color:#409EFF}
.time-select-item.selected:not(.disabled){color:#409EFF}
.el-range-editor.is-active,.el-range-editor.is-active:hover{border-color:#409EFF}
.el-picker-panel__shortcut:hover{color:#409EFF}
.el-picker-panel__shortcut.active{color:#409EFF}
.el-picker-panel__icon-btn:hover{color:#409EFF}
.el-time-spinner__arrow:hover{color:#409EFF}
.el-time-panel__btn.confirm{color:#409EFF}
.el-message-box__headerbtn:focus .el-message-box__close,.el-message-box__headerbtn:hover .el-message-box__close{color:#409EFF}
.el-breadcrumb__inner a:hover,.el-breadcrumb__inner.is-link:hover{color:#409EFF}
.el-tabs__active-bar{background-color:#409EFF}
.el-tabs__new-tab:hover{color:#409EFF}
.el-tabs__item:focus.is-active.is-focus:not(:active){-webkit-box-shadow:0 0 2px 2px #409EFF inset;box-shadow:0 0 2px 2px #409EFF inset}
.el-tabs__item.is-active{color:#409EFF}
.el-tabs__item:hover{color:#409EFF}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{color:#409EFF}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{color:#409EFF}
.el-tree__drop-indicator{background-color:#409EFF}
.el-tree-node.is-drop-inner>.el-tree-node__content .el-tree-node__label{background-color:#409EFF}
.el-input-number__decrease:hover,.el-input-number__increase:hover{color:#409EFF}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){border-color:#409EFF}
.el-slider__bar{background-color:#409EFF}
.el-slider__button{border:2px solid #409EFF}
.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__decrease,.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__increase{border-color:#409EFF}
.el-loading-spinner .el-loading-text{color:#409EFF}
.el-loading-spinner .path{stroke:#409EFF}
.el-loading-spinner i{color:#409EFF}
.el-upload--picture-card:hover,.el-upload:focus{border-color:#409EFF;color:#409EFF}
.el-upload:focus .el-upload-dragger{border-color:#409EFF}
.el-upload-dragger .el-upload__text em{color:#409EFF}
.el-upload-dragger:hover{border-color:#409EFF}
.el-upload-dragger.is-dragover{border:2px dashed #409EFF}
.el-upload-list__item .el-icon-close-tip{color:#409EFF}
.el-upload-list__item.is-success .el-upload-list__item-name:focus,.el-upload-list__item.is-success .el-upload-list__item-name:hover{color:#409EFF}
.el-upload-list__item-delete:hover{color:#409EFF}
.el-progress-bar__inner{background-color:#409EFF}
.el-badge__content--primary{background-color:#409EFF}
.el-step__head.is-finish{color:#409EFF;border-color:#409EFF}
.el-step__title.is-finish{color:#409EFF}
.el-step__description.is-finish{color:#409EFF}
.el-collapse-item__header.focusing:focus:not(:hover){color:#409EFF}
.el-tag{background-color:#ecf5ff;border-color:#d9ecff;color:#409EFF}
.el-tag.is-hit{border-color:#409EFF}
.el-tag--dark{background-color:#409eff;border-color:#409eff}
.el-tag--dark.is-hit{border-color:#409EFF}
.el-tag--plain.is-hit{border-color:#409EFF}
.el-cascader .el-input .el-input__inner:focus,.el-cascader .el-input.is-focus .el-input__inner{border-color:#409EFF}
.el-cascader__suggestion-item.is-checked{color:#409EFF}
.el-color-predefine__color-selector.selected{-webkit-box-shadow:0 0 3px 2px #409EFF;box-shadow:0 0 3px 2px #409EFF}
.el-color-dropdown__btn:hover{color:#409EFF;border-color:#409EFF}
.el-color-dropdown__link-btn{color:#409EFF}
.el-color-dropdown__link-btn:hover{color:tint(#409EFF,20%)}
.el-textarea__inner:focus{border-color:#409EFF}
.el-input.is-active .el-input__inner,.el-input__inner:focus{border-color:#409EFF}
.el-transfer__button{background-color:#409EFF}
.el-transfer-panel__item:hover{color:#409EFF}
.el-timeline-item__node--primary{background-color:#409EFF}
.el-link.is-underline:hover:after{border-bottom:1px solid #409EFF}
.el-link.el-link--default:after,.el-link.el-link--primary.is-underline:hover:after,.el-link.el-link--primary:after{border-color:#409EFF}
.el-link.el-link--default:hover{color:#409EFF}
.el-link.el-link--primary{color:#409EFF}
.el-button:focus.el-button--default:not(.is-plain):not(.el-button--primary),.el-button:hover.el-button--default:not(.is-plain):not(.el-button--primary){color:#409EFF;border-color:#c6e2ff;background-color:#ecf5ff}
.el-button.is-plain:focus.el-button--default,.el-button.is-plain:hover.el-button--default{border-color:#409EFF;color:#409EFF}
.el-button--primary{background-color:#409EFF;border-color:#409EFF}
.el-button--primary.is-plain{color:#409EFF;background:#ecf5ff;border-color:#b3d8ff}
.el-button--primary.is-plain:focus,.el-button--primary.is-plain:hover{background:#409EFF;border-color:#409EFF}
.el-button--text{color:#409EFF}
.el-backtop,.el-calendar-table td.is-today{color:#409EFF}
.el-checkbox.is-bordered.is-checked{border-color:#409EFF}
.el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#409EFF;border-color:#409EFF}
.el-checkbox__input.is-checked+.el-checkbox__label{color:#409EFF}
.el-checkbox__input.is-focus .el-checkbox__inner{border-color:#409EFF}
.el-checkbox__inner:hover{border-color:#409EFF}
.el-checkbox-button__inner:hover{color:#409EFF}
.el-checkbox-button.is-checked .el-checkbox-button__inner{background-color:#409EFF;border-color:#409EFF;-webkit-box-shadow:-1px 0 0 0 #8cc5ff;box-shadow:-1px 0 0 0 #8cc5ff}
.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner{border-left-color:#409EFF}
.el-checkbox-button.is-focus .el-checkbox-button__inner{border-color:#409EFF}
.el-radio.is-bordered.is-checked{border-color:#409EFF}
.el-radio__input.is-checked .el-radio__inner{border-color:#409EFF;background:#409EFF}
.el-radio__input.is-checked+.el-radio__label{color:#409EFF}
.el-radio__input.is-focus .el-radio__inner{border-color:#409EFF}
.el-radio__inner:hover{border-color:#409EFF}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner{-webkit-box-shadow:0 0 2px 2px #409EFF;box-shadow:0 0 2px 2px #409EFF}
.el-cascader-node.in-active-path,.el-cascader-node.is-active,.el-cascader-node.is-selectable.in-checked-path{color:#409EFF}